@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

html {
  font-size: 62.5%;
  // блокировка скролла
  &.css-scroll-fixed:not(.open-only-mob) {
    @include scroll-blocked;
  }

  &.css-scroll-fixed.open-only-mob {
    @include media("<tab") {
      @include scroll-blocked;
    }
  }
}

body {
  min-width: $layout-page-min-width;
  @include font-normal;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color;
  background: $bg-color url(../../img/bg-img.png) center;
  position: relative;
  padding-top: 6rem;

  @include media("<tab") {
    padding-top: 0;
  }

  @include media('<mob') {
    font-size: $font-size--mob;
    line-height: $line-height--mob;
  }

  &.sep-page {
    @include media(">desk") {
      background-attachment: fixed;
    }

    &::before {
      content: "";
      display: none;
      width: 50%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: $bg-color-light;
      @include media(">=tab") {
        display: block;
      }
    }
  }

  &.home-page {
    //$height: 84.3rem;
    $height: 77.5rem;
    //$ratio: calc(47% + 26.5rem);
    $ratio: calc(47% + 19rem);
    //$ratio-mob: calc(47% + 21.7rem);
    $ratio-mob: calc(47% + 14.9rem);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: $height;
      background: #644435 url(../../i/main-bg.jpg) no-repeat 50%;
      background-size: cover;
      opacity: 0.6;
      //@include linear-gradient(to bottom, #bb0a07 0%, #ea5238 50%, #9c0b01 100%);

      @include media('<tab') {
        height: auto;
        padding-top: $ratio;
      }

      @include media('<mob') {
        height: auto;
        padding-top: $ratio-mob;
      }
    }
    
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: $height;
      background: #644435;
      background: radial-gradient(ellipse at center, #d08d74 1%, #d08d74 12%, #644435 47%, #644435 100%);
      //opacity: 0.2;
      z-index: -1;

      @include media('<tab') {
        height: auto;
        padding-top: $ratio;
      }

      @include media('<mob') {
        height: auto;
        padding-top: $ratio-mob;
      }
    }

    /*&::after {
      //content: "";
      display: block;
      position: absolute;
      left: 0;
      //top: 83.8rem;
      top: 0;
      width: 100%;
      //height: 1rem;
      height: $height;
      padding-bottom: 0.5rem;
      box-sizing: content-box;
      background-image: url(../../i/wave-main.svg);
      background-repeat: repeat-x;
      background-position: 50% 100%;
      z-index: -1;

      @include media('<tab') {
        height: auto;
        padding-top: $ratio;
      }

      @include media('<mob') {
        height: auto;
        padding-top: $ratio-mob;
      }
    }*/
  }
}

/* === LAYOUT === */
// Отступы по бокам страницы
// Отступы по бокам основных элементов на странице
.layout-page-spaces {
  $padding: nth($layout-page-space, 2);
  padding-left: $padding;
  padding-right: $padding;

  @include media("<lap-s") {
    $padding: nth($layout-page-space--md, 2);
    padding-left: $padding;
    padding-right: $padding;
  }

  @include media("<tab") {
    $padding: nth($layout-page-space--sm, 2);
    padding-left: $padding;
    padding-right: $padding;
  }

  @include media("<mob") {
    $padding: nth($layout-page-space--mob, 2);
    padding-left: $padding;
    padding-right: $padding;
  }
}

// Выравнивание сайта и его максимальная ширина
// Выравнивание основных элементов и их максимальная ширина
.layout-page {
  max-width: $layout-page-max-width;
  @include push-auto;

  @include media("<lap-s") {
    max-width: none;
  }
}

.layout-page-single {
  max-width: $layout-page-single-max-width;
  @include push-auto;

  @include media("<lap-s") {
    max-width: none;
  }
}

// Отступы по бокам текстовых элементов
@if nth($layout-text-space, 2) != 0 {
  .layout-text-spaces {
    @include padding-horizontal(nth($layout-text-space, 2));
  }
}

// Выравнивание текстовых элементов и их максимальная ширина
.layout-text {
  max-width: $layout-text-width;
  box-sizing: content-box;
  @include push-auto;
}

// Выравнивание элементов выходящих за пределы текста
.layout-flood {
  max-width: $layout-flood-width;
  box-sizing: content-box;
  @include push-auto;
}

// Прижать футер к низу страницы
// На html, body необходимо задать высоту 100% (Задано в reset.sass)
body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.main {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  margin-top: auto
}