@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

body {
  // выделение текста
  *::selection {
    background-color: $base-color;
    color: white;
  }
}

// Заголовки
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 3.6rem;
  padding: 0;
  @include font-medium;
  letter-spacing: normal;
  color: $title-color;

  @include media('<mob') {
    margin-bottom: 2.8rem;
  }

  //&:last-child {
  //  margin-bottom: 0;
  //}

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

h1, .h1 {
  font-weight: normal;
  @include font-h1;
  margin-bottom: 0.7em;
}

h2, .h2 {
  @include font-h2;
}

h3, .h3 {
  @include font-h3;
}

h4, .h4 {
  @include font-bold;
  @include font-h4;
}

h5, .h5 {
  @include font-bold;
  @include font-h5;
  letter-spacing: 0.04em;
}

h6, .h6 {
  @include font-bold;
  @include font-h6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

p {
  padding: 0;
  margin: 0 0 $bottom-space;

  @include media('<mob') {
    margin-bottom: $bottom-space--mob;
  }

  //&:last-child {
  //  margin-bottom: 0;
  //}
}

hr {
  line-height: 1px;
  height: 0;
  border: none;
  background: none;
  border-bottom: 1px solid $border-color;
  margin-bottom: $bottom-space;
}

a {
  color: $link-color;
  text-decoration: underline;
  cursor: default;
  -webkit-tap-highlight-color: transparent;

  &:link {
    cursor: pointer;
  }

  &:hover {
    text-decoration: none;
  }
}

[href^="javascript:"] {
  cursor: default;
  //pointer-events: none;
}

img {
  border: none;
  vertical-align: top;
  max-width: 100%;

  table & {
    max-width: none;
  }
}

b, strong, th {
  @include font-bold;
}

i, em {
  @include font-italic;
}

i b, i strong, em b, em strong, b i, b em, strong i, strong em {
  @include font-bold;
}

.enter {
  @include font-normal;
  @include font-size(2.2rem, 3rem);
  max-width: $layout-text-width;
  margin: 0 auto 5rem;

  @include media("<mob") {
    margin-bottom: 3rem;
  }
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  margin-bottom: $bottom-space;

  @include media('<mob') {
    margin-bottom: $bottom-space--mob;
  }

  &:last-child {
    margin-bottom: 0;
  }

  td, th {
    @include font-size($font-size, $line-height);
    color: inherit;
    padding: 8px 15px;
    border-color: $text-color;

    @include media('<mob') {
      @include font-size($font-size--mob, $line-height--mob);
    }
  }
}

.table-auto {
  position: relative;
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  margin-bottom: $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }

  table {
    margin-bottom: 0;
    width: auto;
    min-width: 100%;
  }
}

.tbl {
  border: none;

  td, th {
    color: $text-color;
    background-color: $bg-color;
    border: 0 solid $base-color;

    &:first-child, &:first-child {
      border-left-width: 1px;
    }

    &:last-child, &:last-child {
      border-right-width: 1px;
    }
  }

  tr:last-child {
    td {
      border-bottom-width: 0;
    }
  }

  td {
    border-top-width: 1px;
  }

  tbody tr:first-child td {
    border-top-width: 0;
  }

  tbody tr:nth-child(even) td {
    background: $base-color;
    color: $bg-color;
  }

  th, thead td {
    @include font-bold;
    font-size: 1.6rem;
    text-align: left;
  }

  th, thead td, tfoot td {
    background: $base-color;
    color: $bg-color;
    border-color: $base-color;
    border-top-width: 0;
  }
}

/* table end */

/* article elements */
.#{$article-content},
.#{$typography-style-class} {
  @each $tags in h2, h3, h4, h5, h6, ".h2", ".h3", ".h4", ".h5", ".h6" {
    p + #{$tags},
    ul + #{$tags},
    ol + #{$tags},
    hr + #{$tags},
    table + #{$tags},
    .table-auto + #{$tags} {
      margin-top: 5rem;

      @include media('<mob') {
        margin-top: 3.6rem;
      }
    }
  }

  // figure
  figure {
    display: block;
    padding: 0;
    margin: 5.3rem 0 5rem;

    img {
      display: block;
      max-width: 100%;
      margin-bottom: 1.7rem;
    }
  }

  figcaption {
    display: block;
    padding: 0;
    margin: 0;
    color: $text-color-light;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  //blockquote
  blockquote, .quote {
    display: block;
    position: relative;
    padding: 2.5rem 5rem;
    margin: 2rem 0 4rem;
    text-align: center;
    //height: auto !important; // Перебить инлайновые стили
    //width: auto !important; // Перебить инлайновые стили

    // Сетка на фоне
    background: linear-gradient(45deg, #fff 4%, transparent 0, transparent 96%, #fff 0),
    linear-gradient(135deg, transparent 45%, #fff 0, #fff 55%, transparent 0),
    linear-gradient(45deg, transparent 45%, #fff 0, #fff 55%, transparent 0),
    linear-gradient(135deg, transparent 37%, #ebe2d0 0, #ebe2d0 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #ebe2d0 0, #ebe2d0 63%, transparent 0)
    #fff ;
    background-size: 6px 6px;

    // Окантовка с тенью
    border-radius: 50% / 20px;
    border: 1px solid #{nth($frame-color, 1)};
    box-shadow: 0 0 0 3px #{nth($frame-color, 2)}, 0 0 0 4px #{nth($frame-color, 3)}, 0 15px 10px -10px #{nth($frame-color, 4)};

    // Нижняя и верхняя петельки
    &::before, &::after {
      content: "";
      position: absolute;
      left: 50%;
      height: 10px;
      width: 14px;
      margin: -4px -7px;
    }

    // Верхняя петелька
    &::before {
      top: 0;
      background-color: $bg-color;
      border: solid #{nth($frame-color, 2)};
      border-width: 0 4px 4px;
      box-shadow: 0 1px 0 #{nth($frame-color, 1)};
      border-radius: 2px 2px 10px 10px;
    }

    // Нижняя петелька
    &::after {
      bottom: 0;
      background-color: #{nth($frame-color, 4)};
      border: solid #{nth($frame-color, 2)};
      border-width: 4px 4px 0;
      box-shadow: 0 -1px 0 #{nth($frame-color, 1)};
      border-radius: 10px 10px 2px 2px;
    }

    @include media("<tab") {
      border-radius: 1rem;
      padding: $grid-space;
    }

    @include media("<tab-s") {
      padding: $grid-space--tab;
    }

    @include media("<mob") {
      padding: $grid-space--mob;
      margin-bottom: 2rem;
    }
  }

  // list
  $list-space: 3rem;

  ul, ol {
    margin: 0 0 $bottom-space;
    padding: 0;
    list-style: none;

    //&:last-child {
    //  margin-bottom: 0;
    //}

    li {
      padding-left: $list-space;
      margin: 0 0 round($bottom-space * 0.5);
      position: relative;
    }
  }

  ul {
    & > li {
      &::before {
        content: "";
        display: block;
        float: left;
        @include size(0);
        margin: 0.4em 0 -0.5em -#{$list-space};
        border: solid transparent {
          width: 5px 0 5px 9px;
          left-color: $base-color;
        };
      }
    }
  }

  ol {
    counter-reset: section;

    & > li {
      counter-increment: section;
      height: 1%;
      overflow: hidden;

      &::before {
        position: relative;
        display: inline-block;
        text-align: left;
        @include font-bold;
        color: $base-color;
        content: counter(section);
        padding: 0 4px 0 0;
        min-width: $list-space;
        margin-left: -#{$list-space};
      }
    }
  }

  ul, ol {
    ul, ol {
      margin: round-float($bottom-space * 0.5, 1) 0;
    }
  }

  & > img,
  & > .layout-text img,
  & > .layout-flood img {
    display: block;
    text-align: center;
    margin: 3rem auto 4rem;

    @include media("<tab") {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
    }

    @include media("<mob") {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    &[align="left"], .imgl {
      float: left;
      text-align: left;
      max-width: 45%;
      margin-right: 3rem;

      @include media("<tab") {
        margin-right: 2rem;
      }

      @include media("<mob") {
        float: none;
        text-align: left;
        max-width: none;
        margin-right: auto;
      }
    }

    &[align="right"], .imgr {
      float: right;
      text-align: right;
      max-width: 45%;
      margin-left: 3rem;

      @include media("<tab") {
        margin-left: 2rem;
      }

      @include media("<mob") {
        float: none;
        text-align: left;
        max-width: none;
        margin-left: auto;
      }
    }
  }
}

.#{$article-content} {
  padding: $grid-space;

  @include media("<tab-s") {
    padding: $grid-space--tab;
  }

  @include media("<mob") {
    padding: $grid-space--mob;
  }

  & > span[style*="font-family"] {
    display: block; // Костыль, чтобы перебить инлайновые стили
  }

  & > p, & > ul, & > ol,
  & > h1, & > .h1,
  & > h2, & > h3, & > h4, & > h5, & > h6,
  & > .h2, & > .h3, & > .h4, & > .h5, & > .h6,
  & > hr, & > mark, & > blockquote, & > figure,
  & > .layout-text,
  & > .entry-text,
  & > .quote,
  & > span[style*="font-family"],
  & > span[style*="FONT-FAMILY"],
  & > em[style*="font-family"],
  & > em[style*="FONT-FAMILY"],
  & > div[style*="font-family"],
  & > div[style*="FONT-FAMILY"],
  & > .wrap {
    max-width: $layout-text-width;
    @include push-auto;
  }

  & > .layout-flood {
    max-width: $layout-text-width;
    @include push-auto;
  }

  // wrap
  .wrap {
    margin-bottom: 3rem;
    @include clear;

    // blockquote
    blockquote {
      overflow: hidden;
      color: #a97b39;
      background: #fcfbfa;
      border: none;
      border-top: 1px dotted #ddcba9;
      border-bottom: 1px dotted #ddcba9;
      @include font-italic;
      box-shadow: none;
      padding: 2.5rem 2.0rem;
      margin: 0 0 2rem;
      text-align: left;
      border-radius: 0;

      &::before, &::after {
        content: none;
      }
    }

    // leftColumn
    .leftColumn {
      float: left;
      width: 50%;
      padding-right: 2rem;

      @include media('<tab-s') {
        float: none;
        width: auto;
        padding-right: 0;
      }
    }

    // rightColumn
    .rightColumn {
      float: right;
      width: 50%;
      padding-left: 2rem;

      @include media('<tab-s') {
        float: none;
        width: auto;
        padding-left: 0;
      }
    }

    // historyContent
    .historyContent {
      float: right;
      width: calc(100% - 24rem - 2rem);
      padding: 0.4rem 0 0;
      margin: 0 0 2rem;

      strong em,
      em strong {
        @include font-bold;
      }
    }

    // historicDate
    .historicDate {
      float: left;
      font-size: 2.4rem;
      line-height: 2.8rem;
      text-align: right;
      width: 24rem;
      margin: 0 2rem 2rem 0;

      strong {
        @include font-bold;

        span {
          font-size: 1.8rem;
        }
      }
    }
  }

  // imagebox
  .imagebox {
    margin: 0 2rem 2rem 0;
    float: left;

    .imageWrap {
      position: relative;
      display: inline-block;
      overflow: hidden;
      border: 1px solid #fff;
      border-radius: 10px;
      box-shadow: 0 0 0 2px #e9cd78;

      img {
        display: block;
      }

      .mask {
        display: none;
      }
    }
  }

  // notice
  .notice {
    float: left;
    width: 22rem;
    padding: 0 4rem 0 0;
    margin: 0 2rem 2rem;
    color: $base-color;
    text-align: center;
    background: url(../../i/notice.gif) repeat-y 100% 0;
  }
}

/* article elements end */