@import "../utils/mixins";

// =============================================================================
// Google Fonts
// =============================================================================
//@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400i,700,700i&subset=cyrillic')

// =============================================================================
// Font Face
// =============================================================================
@include font-face("AkzidenzGroteskPro Cond", "../fonts/akzidenz-grotesk-pro/cond/AkzidenzGroteskPro-Cn", normal, normal, eot woff ttf);

@include font-face("AkzidenzGroteskPro Cond Bold", "../fonts/akzidenz-grotesk-pro/cond-bold/AkzidenzGroteskPro-BoldCn", normal, normal, eot woff ttf)
@include font-face("AkzidenzGroteskPro Cond Bold Italic", "../fonts/akzidenz-grotesk-pro/cond-bold-it/AkzidenzGroteskPro-BoldIt", normal, normal, eot woff ttf)
@include font-face("AkzidenzGroteskPro Cond Italic", "../fonts/akzidenz-grotesk-pro/cond-it/AkzidenzGroteskPro-CnIt", normal, normal, eot woff ttf)
@include font-face("AkzidenzGroteskPro Light Cond", "../fonts/akzidenz-grotesk-pro/light-cond/AkzidenzGroteskPro-LightCn", normal, normal, eot woff ttf);

@include font-face("AkzidenzGroteskPro Medium Cond", "../fonts/akzidenz-grotesk-pro/md-cond/AkzidenzGroteskPro-MdCn", normal, normal, eot woff ttf);