/* PREVENT SPECIAL VERSION */
body:not(.vspec) .for-spec {
  display: none;
}

.img-alt-spec {
  text-align: left;
}

.spec-panel {
  display: none;
}

.vspec .spec-panel {
  display: block;
}

.shutter-after-open .vspec .spec-panel {
  display: none;
}

/* special version switchers/toggle buttons */
/* ============================================================ */
/*button switch special version */
.spec-btn-switcher {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
  padding: 0.6em 0.8em 0.6em 2em;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: normal;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
}

.vspec .spec-btn-switcher {
  font-size: 14px;
}

.spec-btn-switcher svg {
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  left: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  box-sizing: border-box;
}

.spec-btn-switcher path {
  fill: currentColor;
  will-change: fill;
  transition-property: fill;
  transition-duration: 0.2s;
}

.spec-btn-switcher:hover {
  text-decoration: underline;
}

body:not(.vspec) .spec-btn-switcher.spec-btn-switcher_normal {
  display: none;
}

.vspec .spec-btn-switcher:not(.spec-btn-switcher_normal) {
  display: none;
}

.header .spec-btn-switcher {
  position: absolute;
  background-color: #d4c0b3;
  right: 0;
  bottom: 100%;
  margin: 0 0 0.8rem;
  padding-left: 4.2rem;
  border-radius: 0.5rem;
  border: 2px solid currentColor;
}

@media (max-width: 991px) {
  .header .spec-btn-switcher {
    right: auto;
    bottom: auto;
    top: 0;
    left: 5rem;
    margin: 0.2rem 0 0;
    padding: 0;
    width: 4.4rem;
    height: 4.4rem;
  }
}

.header .spec-btn-switcher svg {
  left: 1rem;
}

@media (max-width: 991px) {
  .header .spec-btn-switcher svg {
    left: 0.7rem;
  }
}

@media (max-width: 991px) {
  .header .spec-btn-switcher span {
    display: none;
  }
}

.footer .spec-btn-switcher {
  position: relative;
}

.vspec .footer .spec-btn-switcher {
  padding: 10px 18px 10px 3em;
  font-size: inherit;
  line-height: 1.1;
  font-weight: normal;
}

.vspec .footer .spec-btn-switcher svg {
  left: 1em;
}

@media (max-width: 639px) {
  .vspec .footer .spec-btn-switcher_normal {
    display: block;
    width: 240px;
    margin: 0 auto 1em;
  }
}

/*button switch special version end */
.spec-foot {
  position: absolute;
  bottom: 1.8rem;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  .spec-foot {
    position: relative;
    bottom: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.vspec .spec-foot {
  position: relative;
  bottom: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: auto;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 2px solid currentColor;
}

@media (max-width: 639px) {
  .vspec .spec-foot {
    display: block;
  }
}

.logo-spec-wrap {
  display: none;
}

@media (max-width: 639px) {
  .logo a::after,
  .logo > span::after {
    margin: -1.8rem -3.9rem;
  }
}

/* PREVENT SPECIAL VERSION end */

/*# sourceMappingURL=special-version-base.css.map */
